.modal {
  display: none;        
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;                  
  width: 100vw;
  height: 100vh;           
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;           
  justify-content: center;
  align-items: center;   
  opacity: 0;
  animation: fadeIn 0.5s forwards;
  overflow: auto;
}



.modal-content {
  background-color: #fff;
  margin: 60px auto;
  padding: 30px;
  right: 200px; 
  border-radius: 8px;
  width: 90%;        
  height: auto;
  max-height: 80vh;      
  overflow-y: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transform: scale(0.5);
  animation: slideIn 0.5s ease-out forwards, fadeIn 0.5s forwards;
  transition: height 0.3s ease;
}


.success-message {
  background-color: white;  
  padding: 30px;
  border-radius: 10px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  text-align: center;
  color: #333;
}

.success-message svg {
  margin-bottom: 20px;
  width: 60px;
  height: 60px;
  fill: #27ae60;
}

.success-message p {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 20px;
}

@keyframes slideIn {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}